@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #b7ff00;
    /* font-color : #b7ff00; */
}
.header{
  display: flex;
  background-color: rgb(9, 9, 9);
  padding: auto;
  gap: auto;
  margin-left: 0%;
  margin-right: 0%;
}
  .header.logo{
    font-family: "poppins", sans-serif ;
    font-weight: lighter;
    padding-left: 0%;
    margin-left: 30px;
    margin-right: 30px;
  }
 
  .gap{
    flex-grow: 1;
  }

  .navbar{
    padding-right: 0%;
    gap: 10px;
  }