/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* body{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #b7ff00;
    /* font-color : #b7ff00; */

/* .header{
  display: flex;
  background-color: rgb(9, 9, 9);
  padding: auto;
  gap: auto;
  margin-left: 0%;
  margin-right: 0%;
}
  .header.logo{
    font-family: "poppins", sans-serif ;
    font-weight: lighter;
    padding-left: 0%;
    margin-left: 30px;
    margin-right: 30px;
  } */
 
  /* .gap{
    flex-grow: 1;
  } */

  /* .navbar{
    padding-right: 0%;
    gap: 10px;
  } */


  
  body {
    /* font-family: Arial, sans-serif; A general font setting for the body */
    font-family: "Poppins", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    padding: 25px;
    background-color: #000000;
}
.logo {
    font-family: "Poppins", sans-serif;
    font-size: 20px; /* Font size for the logo */
    font-weight: 700;
    color: #fab300; /* Font color for the logo */
    
}

.logo a {
  
    color:#fab300; /* Font color for navbar links */
    text-decoration: none; /* Remove underline from the links */
}

.logo a:hover{
  color:#fab300a4; /* Change color on hover */
}

.gap {
    flex-grow: 1; /* This element will take up the remaining space */
}
.navbar a {
  font-family: "Poppins", sans-serif;
    font-size: 18px; /* Font size for navbar links */
    color:#fab300; /* Font color for navbar links */
    text-decoration: none; /* Remove underline from the links */
    margin-left: 15px; /* Space between links */
}
.navbar a:hover {
    color:#fab300a4; /* Change color on hover */
}

.image{
  display: flex;
  align-items: center;
  gap: 40px;
}

.explore{
align-items: center;
}

.explorebtn{
  background-color: #000000;
  border-radius: 5rem;
  height: 30px;
  width: 150px;

}

.explorebtn a{

  font-family: "Poppins", sans-serif;
    font-size: 18px; /* Font size for navbar links */
    color:#fab300; /* Font color for navbar links */
    text-decoration: none; /* Remove underline from the links */
   
}

.explorebtn a:hover{
  color:#fab300a4;
}

.para1{
  font-family:"Poppins", sans-serif ;
  font-size: larger;
}

.overbtn{
  font-size: x-large;
}


.carouselslide{
  width: 94%;
  height: 60%;
}